/* -- CSS Reset -- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Lora");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  margin: 0; }

img.alignright {
  float: right; }

img.alignleft {
  float: left; }

img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

body {
  background-color: rgb(19, 60, 85);
  border-style: none; }

body,
p,
a,
a:hover {
  color: rgb(19, 60, 85); }

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none; }

/* -- Content -- */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  background-color: rgb(19, 60, 85); }

body.page-template-page-fullsingle-split {
  background-color: rgb(19, 60, 85);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.2px;
  color:rgb(203, 247, 237);
  -webkit-animation: fadein 2s;
          animation: fadein 2s; }

body.page-template-page-fullsingle-split p {
    color: rgb(255, 255, 255);
    opacity: 0.7;
}

.fs-split {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 800px) {
    .fs-split {
      height: auto;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
		  
  .fs-split .split-image {
    width: 50%;
    height: 100vh;
    background-image: url("/images/background.jpg");
    background-position: center center;
    background-size: cover; }
    @media (max-width: 800px) {
      .fs-split .split-image {
        height: 80vh;
        width: 100%; } }
		
 .fs-split .split-image-article {
    width: 100%;
    height: auto;}
	
  .fs-split .split-content {
    width: 50%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto; }
    @media (max-width: 800px) {
      .fs-split .split-content {
        width: 100%;
        height: auto; } }
    .fs-split .split-content .split-content-vertically-center {
      padding: 80px;
      max-width: 100%;
      margin: auto; }
      @media (max-width: 1200px) {
        .fs-split .split-content .split-content-vertically-center {
          padding: 60px; } }
      @media (max-width: 800px) {
        .fs-split .split-content .split-content-vertically-center {
          padding: 40px; } }
	
		  .fs-split-none {
  max-width: 100vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 800px) {
    .fs-split-none {
      height: auto;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
		  
 .fs-split-none .split-image-article {
    width: 100%;
    height: auto;}
	
  .fs-split-none .split-content {
    width: 50%;
	 margin: 0 auto;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto; }
    @media (max-width: 800px) {
      .fs-split-none .split-content {
        width: 100%;
        height: auto; } }
    .fs-split-none .split-content .split-content-vertically-center {
      padding: 80px;
      max-width: 100%;
      margin: auto; }
      @media (max-width: 1200px) {
        .fs-split-none .split-content .split-content-vertically-center {
          padding: 60px; } }
      @media (max-width: 800px) {
        .fs-split-none .split-content .split-content-vertically-center {
          padding: 40px; } }	
	
	
.split-intro {
  font-weight: 600;
  font-size: 3em;
  line-height: 80px;
  letter-spacing: -2px; }
  .split-intro h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 40px;
    letter-spacing: 0.4px;
    color:rgb(255,255,255); }
.split-back {
	 width: 100%;
    display: inline-block;
    vertical-align: top;
	margin-bottom:5em;
	}
	.split-back a {
    color:rgb(203, 247, 237);
	font-weight: 400;
    text-transform: uppercase;
	font-size: .6em;
    line-height: 1.5em;
	letter-spacing:.2em;
    margin-bottom: 3em;
    transition-duration: 0.5s;
     }
    .split-back a:hover {
      color:rgb(203, 247, 237);
     opacity: 0.8;
    transition-duration: 0.1s;
	}
  .split-intro .tagline {
    color: rgb(250, 255, 216); }
	@media (max-width: 1200px) {
	.split-intro {
    font-weight: 600;
    font-size: 2em;
    line-height: 1.3em;
    letter-spacing: -2px;
}
	}
@media (max-width: 800px) {
.split-intro {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: -2px;
}
}

.split-bio {
  padding: 40px 0 40px 0;
  font-family: 'Lora', serif; }
  @media (max-width: 1200px) {
    .split-bio {
      padding: 30px 0; } }
  @media (max-width: 800px) {
    .split-bio {
      padding: 20px 0; } }
  .split-bio p {
    color:rgb(255,255,255); }
  .split-bio a {
    color:  rgb(250, 255, 216);
    transition-duration: 0.5s;
    border-bottom: 1px dotted  rgb(250, 255, 216); }
    .split-bio a:hover {
      color: rgb(212, 175, 185);
      transition-duration: 0.1s;
      border-bottom: 1px dotted  rgb(250, 255, 216); }

.split-lists .split-list {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
   margin-right: 16px; }
    @media (max-width: 1200px) {
	.split-lists .split-list {
	width: 50%;
	}
	}
  @media (max-width: 500px) {
    .split-lists .split-list {
      width: 90%;
	  margin-right: 0px; } }
	  
.split-lists .split-list-full {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
   margin-right: 16px; }
   
  .split-lists .split-list h3,  .split-lists .split-list-full h3 {
 font-weight: 800;
    text-transform: uppercase;
    font-size: 0.6em;
    line-height: .6em;
    margin-bottom: 2em;
    color: rgb(255, 255, 255);
    letter-spacing: .2em; }
  .split-lists .split-list ul li {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px; }
    .split-lists .split-list ul li a {
      color:rgb(203, 247, 237);
      transition-duration: 0.5s; }
      .split-lists .split-list ul li a:hover {
          color:rgb(203, 247, 237);
	  opacity: 0.8;
        transition-duration: 0.1s; }
  .split-lists .split-list-full h4 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: .7em;
    line-height: 1em;
    margin-bottom: 1em;
    color:rgb(250, 255, 216);
    letter-spacing: .2em;}
	  .split-lists .split-list-full h5 {
font-weight: 600;
    text-transform: uppercase;
    font-size: .6em;
    line-height: .5em;
	 margin-bottom: 1.4em;
    color:rgb(250, 255, 216);
    letter-spacing: .2em;}
	.split-lists .split-list-full p {
	font-size: .8em;
	 line-height: 1.5em;
	margin-bottom: 3em;
	}
.split-credit {
  opacity: 0.4; }
  .split-credit p {
    font-size: 12px;
    line-height: 14px; }
    .split-credit p a {
      color: rgb(203, 247, 237); }

.split-video {
  overflow: hidden;
  position: relative; }

.video-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.video-container {
  position: relative;
  overflow: hidden;
  height: 56.25vw;
  width: 100vw; }
  @media (max-aspect-ratio: 16 / 9) {
    .video-container {
      height: 100vh;
      width: 177.7777777778vh; } }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

video.video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  height: 100%; }
